<h1>España es un gran país</h1>

<div class="bodytext">
    Lorem ipsum dolor sit amet consectetur adipiscing elit proin, 
    et massa auctor orci augue condimentum lacinia, id lacus
    mattis semper duis sodales egestas. Tempus habitant phasellus pellentesque
    mus eget dapibus cursus himenaeos vestibulum scelerisque eu potenti,
    felis sociis ornare lacus tellus condimentum aenean convallis dictumst vitae.
</div><br>

<div class="info">
    <ul class="list-group">
      <th>Días de la semana</th>
      <li class="list-group-item" *ngFor="let angcarac of angcaracs">{{ angcarac }}</li>
    </ul>
</div>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Miercoles
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipiscing elit proin, 
          et massa auctor orci augue condimentum lacinia, id lacus
          mattis semper duis sodales egestas. Tempus habitant phasellus pellentesque
          mus eget dapibus cursus himenaeos vestibulum scelerisque eu potenti,
          felis sociis ornare lacus tellus condimentum aenean convallis dictumst vitae.          
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Jueves
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipiscing elit proin, 
          et massa auctor orci augue condimentum lacinia, id lacus
          mattis semper duis sodales egestas. Tempus habitant phasellus pellentesque
          mus eget dapibus cursus himenaeos vestibulum scelerisque eu potenti,
          felis sociis ornare lacus tellus condimentum aenean convallis dictumst vitae.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Viernes
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipiscing elit proin, 
          et massa auctor orci augue condimentum lacinia, id lacus
          mattis semper duis sodales egestas. Tempus habitant phasellus pellentesque
          mus eget dapibus cursus himenaeos vestibulum scelerisque eu potenti,
          felis sociis ornare lacus tellus condimentum aenean convallis dictumst vitae.
      </div>
    </div>
  </div>
</div>
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://foter.com/photos/394/water-animal-animated-watered.jpg" class="d-block w-100" class="d-block h-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://foter.com/photos/398/amphibians-frogs-buckets.jpg" class="d-block w-100" class="d-block h-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://foter.com/photos/396/tree-frog-anuran-frog-amphibians-5.jpg" class="d-block w-100" class="d-block h-50" alt="...">
    </div>
  </div>
</div>
<div class="prueba">
  <p>hola</p><br>
  <img src="http://www.brandemia.org/sites/default/files/logo_nike_principal.jpg" />
</div>